ESP8266LedMQTT/NodeREDflowESP8266_MQTT_ONOFFLED.json
[
    {
        "id": "e0995c889f417578",
        "type": "tab",
        "label": "Control de LED",
        "disabled": false,
        "info": "Flujo para enviar comandos a un ESP8266 para encender/apagar un LED vía MQTT."
    },
    {
        "id": "f516a81e3095034c",
        "type": "ui_switch",
        "z": "e0995c889f417578",
        "name": "Botón de LED",
        "label": "Encender / Apagar LED",
        "tooltip": "",
        "group": "e14b149b1ff30b6e",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "control/led",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-lightbulb",
        "oncolor": "yellow",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-solid fa-lightbulb",
        "offcolor": "gray",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "626880479ab4e9f7",
                "8911d017b2e3ac1d"
            ]
        ]
    },
    {
        "id": "626880479ab4e9f7",
        "type": "mqtt out",
        "z": "e0995c889f417578",
        "name": "Publicar en control/led",
        "topic": "control/led",
        "qos": "0",
        "retain": "false",
        "respQos": "",
        "respRetain": "",
        "respTopic": "",
        "respInterval": "",
        "respQoS": "0",
        "broker": "7472c28e84850c59",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "8911d017b2e3ac1d",
        "type": "debug",
        "z": "e0995c889f417578",
        "name": "Payload de depuración",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e14b149b1ff30b6e",
        "type": "ui_group",
        "name": "Control de Dispositivos",
        "tab": "e0735e081ffc8f47",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0735e081ffc8f47",
        "type": "ui_tab",
        "name": "INICIO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false,
        "info": "Pestaña de inicio del sistema MARTECH"
    }
]
