MARTECH/MARTECHV2_FeriaAProduccion/flowsMARTECH115230082024.json
[
    {
        "id": "cac84992406068aa",
        "type": "tab",
        "label": "MARTECHV2_Feria",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.168.4.42",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6d7b11e0.6dfdf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3750e8ce.607c08",
        "type": "influxdb",
        "hostname": "192.168.0.19",
        "port": "8086",
        "database": "mydb",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086/",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "426ccebbe959ebd3",
        "type": "telegram bot",
        "botname": "iotBot",
        "usernames": "iotBot",
        "chatids": "-4234464685",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "Temperatura Aire",
        "tab": "715a0949f29b8c15",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00fd71d20afe50e3",
        "type": "ui_group",
        "name": "Humedad Aire",
        "tab": "715a0949f29b8c15",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c822f11f11aa2d9",
        "type": "ui_group",
        "name": "Información",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2282b11da5ad23a",
        "type": "ui_group",
        "name": "Actuadores | Estados",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb2d70fd5668110c",
        "type": "ui_group",
        "name": "Sensor | Luz",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32ee8d9998f0d6b4",
        "type": "ui_group",
        "name": "Heading",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cb4b51946b91a45",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#545864",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Theme_Inicial",
                "default": "#4B7930",
                "baseColor": "#305578",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#305578",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#305578",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#467caf",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#305578",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bd07f3319b50939c",
        "type": "ui_group",
        "name": "Coolers",
        "tab": "3d77d0ed35a20567",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2aaf0e5246e677b5",
        "type": "ui_group",
        "name": "Luminosidad",
        "tab": "715a0949f29b8c15",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "943f5ed0980a0b6d",
        "type": "ui_tab",
        "name": "MARTECHV2_Feria",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "622fc1b4a218cacf",
        "type": "ui_group",
        "name": "Humidificador",
        "tab": "3d77d0ed35a20567",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cee0defa3c492a5",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "300394d41c1b4fec",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0df050a6d345430",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "6172d5c38829b34c",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "59bf45f72a2eaf6d",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ffdb6f220ec36d28",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "2aaf0e5246e677b5",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "cada8cbabbbb47f7",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "8cf430e5822528f0",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5644aa22c5447394",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ffa4410725a3f15",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1677f16d572169a",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "4423fa8a8f76a071",
        "type": "ui_spacer",
        "z": "cac84992406068aa",
        "name": "spacer",
        "group": "bd07f3319b50939c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "715a0949f29b8c15",
        "type": "ui_tab",
        "name": "Sensores | Estados",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d77d0ed35a20567",
        "type": "ui_tab",
        "name": "Actuadores | Estados",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac80019afe876347",
        "type": "ui_group",
        "name": "Bienvenido",
        "tab": "943f5ed0980a0b6d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17c5cfc16a435fc8",
        "type": "ui_group",
        "name": "Peltier",
        "tab": "3d77d0ed35a20567",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c42608e374a20db",
        "type": "mqtt in",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "tempaire/sensordht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "5e76b291a342539b",
                "3762ae67608282ec",
                "01276a3c35594827",
                "8b094357b02eb906",
                "bfe22683f4df352e"
            ]
        ]
    },
    {
        "id": "3762ae67608282ec",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAire",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "acd41733dc532d5d",
        "type": "mqtt in",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "humidity/sensordht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 680,
        "wires": [
            [
                "b1b43e9a6e341d93",
                "3d635fa569cbb34d",
                "c486b228a820f8a1",
                "97d893f1becb9787",
                "bb964a85f6600aec"
            ]
        ]
    },
    {
        "id": "3d635fa569cbb34d",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humedAire",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b812aaec1d56e9c5",
        "type": "mqtt in",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "light/sensorldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "3db2605b89727103",
                "f588202070c1991f",
                "74268f815af952fd",
                "d1ecf62db09773f1"
            ]
        ]
    },
    {
        "id": "3db2605b89727103",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "luminosidad",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6540130cedaebb2b",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Suscribir al ESP8266 | Sensores",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "328f2df2275251e5",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Publicar al ESP8266 | Actuadores | Control Manuall",
        "info": "",
        "x": 290,
        "y": 1360,
        "wires": []
    },
    {
        "id": "7d93f111ced3f4df",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Send info",
        "func": "let tempAire = global.get('tempAire') || \"No disponible\";\nlet humedAire = global.get('humedAire') || \"No disponible\";\nlet lumin = global.get('luminosidad') || \"No disponible\";\nmsg.payload = {\n    chatId: -4234464685,\n    type: \"message\",\n    content:`Temperatura del aire es: ${tempAire}` + `°C\\n` + \n            `Humedad del aire es: ${humedAire}` + `%\\n` + \n            `Luminosidad es: ${lumin}`\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1240,
        "wires": [
            [
                "e92236a63610aa56"
            ]
        ]
    },
    {
        "id": "74268f815af952fd",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Check Luminosidad alta",
        "func": "let lumin = parseFloat(msg.payload);\nif (lumin > 20) {\n    msg.payload = {\n        chatId: -4234464685,\n        type: \"message\",\n        content: `¡Alerta! La luminosidad es alta: ${lumin}` + `%`\n    };\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "9391db3feb89f93a"
            ],
            []
        ]
    },
    {
        "id": "9391db3feb89f93a",
        "type": "rbe",
        "z": "cac84992406068aa",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "42d5ee9a46216161"
            ]
        ]
    },
    {
        "id": "1c6679c600e35991",
        "type": "telegram receiver",
        "z": "cac84992406068aa",
        "name": "Telegram Receiver",
        "bot": "426ccebbe959ebd3",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 290,
        "y": 1240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9c13e07eb4b27734",
        "type": "telegram command",
        "z": "cac84992406068aa",
        "name": "/infoEstado",
        "command": "/info",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "426ccebbe959ebd3",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "7d93f111ced3f4df"
            ]
        ]
    },
    {
        "id": "e92236a63610aa56",
        "type": "telegram sender",
        "z": "cac84992406068aa",
        "name": "send info",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 880,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "42d5ee9a46216161",
        "type": "telegram sender",
        "z": "cac84992406068aa",
        "name": "Notificación Alta Luminosidad",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 960,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "01276a3c35594827",
        "type": "ui_gauge",
        "z": "cac84992406068aa",
        "name": "FMedidor TempAire",
        "group": "92a9cd27.99b9d",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#b32400",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "0",
        "seg2": "21",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1b43e9a6e341d93",
        "type": "ui_gauge",
        "z": "cac84992406068aa",
        "name": "FMedidor HumedAire",
        "group": "00fd71d20afe50e3",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#db1600",
            "#e6de00",
            "#2ed600"
        ],
        "seg1": "21",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "f588202070c1991f",
        "type": "ui_gauge",
        "z": "cac84992406068aa",
        "name": "FMedidor Luminosidad",
        "group": "2aaf0e5246e677b5",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "lm",
        "format": "{{value}}",
        "min": "0",
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "250",
        "seg2": "750",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 980,
        "wires": []
    },
    {
        "id": "5e76b291a342539b",
        "type": "ui_chart",
        "z": "cac84992406068aa",
        "name": "FChart TempAire",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Cargando datos...",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c486b228a820f8a1",
        "type": "ui_chart",
        "z": "cac84992406068aa",
        "name": "FChart HumedAire",
        "group": "00fd71d20afe50e3",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Cargando datos...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e7d017ecce331394",
        "type": "ui_switch",
        "z": "cac84992406068aa",
        "name": "On/Off Coolers",
        "label": "Coolers",
        "tooltip": "",
        "group": "bd07f3319b50939c",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1440,
        "wires": [
            [
                "2d1379bc1783eeae",
                "aff6ca2531dd62c2"
            ]
        ]
    },
    {
        "id": "2d1379bc1783eeae",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "control/manual/coolers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 560,
        "y": 1440,
        "wires": []
    },
    {
        "id": "2d38d9941aa48b02",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Temperatura de Aire (DHT11)",
        "info": "",
        "x": 200,
        "y": 280,
        "wires": []
    },
    {
        "id": "1a0d9ea23d03cc15",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Humedad del Aire (DHT11)",
        "info": "",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "3bdcbfad65ab0fe5",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Nivel de Luz (LDR)",
        "info": "",
        "x": 170,
        "y": 900,
        "wires": []
    },
    {
        "id": "9e2eb0878b5a3a4a",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Enviar a Telegram info de sensores",
        "info": "",
        "x": 240,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d1b22b4ab8523d90",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Trigger Fan animate OFF",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"stop\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 1120,
        "wires": [
            [
                "eece25c310ff8648"
            ]
        ]
    },
    {
        "id": "1f9d3dbd4b218c24",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Trigger Fan animate ON",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"start\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 960,
        "wires": [
            [
                "eece25c310ff8648"
            ]
        ]
    },
    {
        "id": "0fe9f01b30e81f01",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 1000,
        "wires": [
            [
                "1f9d3dbd4b218c24",
                "703b007174dbd0aa"
            ]
        ]
    },
    {
        "id": "10e66cc1723cfc1b",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 1080,
        "wires": [
            [
                "d1b22b4ab8523d90",
                "703b007174dbd0aa"
            ]
        ]
    },
    {
        "id": "aff6ca2531dd62c2",
        "type": "switch",
        "z": "cac84992406068aa",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1790,
        "y": 1040,
        "wires": [
            [
                "0fe9f01b30e81f01"
            ],
            [
                "10e66cc1723cfc1b"
            ]
        ]
    },
    {
        "id": "d1ecf62db09773f1",
        "type": "ui_chart",
        "z": "cac84992406068aa",
        "name": "FChartLuminosidad",
        "group": "2aaf0e5246e677b5",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Cargando datos...",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "021075fb8e7feac0",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Marcadores de temperatura aire",
        "info": "",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "7595edbc49b77438",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Marcadores de humedad aire",
        "info": "",
        "x": 1180,
        "y": 660,
        "wires": []
    },
    {
        "id": "1320313e824b318f",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Marcadores de luminosidad",
        "info": "",
        "x": 1240,
        "y": 980,
        "wires": []
    },
    {
        "id": "5f2b9934b1fa042c",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Notificación de luminosidad alta",
        "info": "",
        "x": 1250,
        "y": 1060,
        "wires": []
    },
    {
        "id": "c2478aaa5e06fdcc",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Acceso a parámetros con: /info",
        "info": "",
        "x": 1230,
        "y": 1240,
        "wires": []
    },
    {
        "id": "eece25c310ff8648",
        "type": "ui_svg_graphics",
        "z": "cac84992406068aa",
        "group": "bd07f3319b50939c",
        "order": 3,
        "width": 4,
        "height": 3,
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" viewBox=\"42.70819854736328 52.25726318359375 40.49138641357422 45.51356887817383\" version=\"1.1\" id=\"svg5\" sodipodi:docname=\"Home_Automation.svg\" inkscape:version=\"1.1.1 (3bf5ae0d25, 2021-09-20)\" preserveAspectRatio=\"xMinYMin meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"148\" height=\"105\" style=\"fill:none;stroke:none\" />\n  <sodipodi:namedview id=\"namedview7\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\" inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:document-units=\"mm\" showgrid=\"false\" inkscape:zoom=\"1.4110391\" inkscape:cx=\"380.92495\" inkscape:cy=\"207.29404\" inkscape:window-width=\"1366\" inkscape:window-height=\"745\" inkscape:window-x=\"-8\" inkscape:window-y=\"-8\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"layer1\" />\n  <defs id=\"defs2\" />\n  <g inkscape:label=\"Layer 1\" inkscape:groupmode=\"layer\" id=\"layer1\">\n    <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 Z\" id=\"path218\" />\n    <path style=\"fill:#c7c7c7;stroke-width:0.0349644\" d=\"M 46.433791,86.087841 81.363237,71.472717 V 96.22752 H 46.433791 Z\" id=\"path220\" />\n    <path style=\"fill:#c2c2c2;stroke-width:0.0349644\" d=\"M 46.433791,87.556346 81.363237,72.941223 V 96.22752 H 46.433791 Z\" id=\"path222\" />\n    <path style=\"fill:#bdbdbd;stroke-width:0.0349644\" d=\"M 46.433791,89.724139 81.363237,75.109016 V 96.22752 H 46.433791 Z\" id=\"path224\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 V 61.298074\" id=\"path226\" />\n    <path style=\"display:inline;fill:#7f7f7f;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 70.034768,93.640153 -4.055872,1.118861 H 61.783167 L 57.727295,93.640153 54.090997,91.542289 51.084058,88.605278 48.951229,84.899051 47.867332,80.843179 V 76.64745 l 1.118861,-4.1258 2.097865,-3.636299 2.93701,-2.93701 3.706227,-2.132829 4.055872,-1.083897 h 4.195729 l 4.125801,1.083897 3.636298,2.132829 2.937011,2.93701 2.132829,3.636299 1.083896,4.1258 v 4.195729 l -1.083896,4.055872 -2.132829,3.706227 -2.937011,2.937011 z\" id=\"path228\" />\n    <path style=\"display:inline;fill:#191919;stroke-width:0.0349644\" d=\"m 69.755052,93.010794 -3.846085,1.013968 h -4.055871 l -3.846085,-1.013968 -3.496441,-2.027936 -2.867082,-2.867082 -2.027936,-3.496441 -1.013968,-3.846085 0.03496,-4.055871 0.979003,-3.916014 2.027936,-3.426512 2.867082,-2.867082 3.496441,-2.027936 3.846085,-1.013968 h 4.055871 l 3.846085,1.013968 3.496441,2.027936 2.867082,2.867082 2.027936,3.496441 1.013968,3.846085 v 4.055871 l -1.013968,3.846085 -2.027936,3.496441 -2.867082,2.867082 z\" id=\"path230\" />\n    <g id=\"fan\">\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 v 12.097686 z\" id=\"path232\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 66.32854,93.290509 -0.209786,-0.349644 -0.209787,-0.349644 -0.209786,-0.384609 -0.174822,-0.349644 -0.174822,-0.349644 -0.139858,-0.384608 -0.139857,-0.384609 -0.139858,-0.384608 -0.104893,-0.384609 -0.06993,-0.384608 -0.104893,-0.384609 -0.03496,-0.384608 -0.06993,-0.384609 -0.03496,-0.419573 v -0.384608 l -0.03496,-0.384609 0.03496,-0.419573 v -0.384608 l 0.03496,-0.384609 0.06993,-0.384608 0.03496,-0.419573 0.104893,-0.384609 0.06993,-0.384608 0.104893,-0.384609 0.139858,-0.384608 0.139857,-0.349644 0.139858,-0.384609 0.174822,-0.384608 0.174822,-0.349644 0.209786,-0.349645 0.209787,-0.349644 0.209786,-0.349644 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 -0.31468 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 z\" id=\"path234\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 4.895017\" id=\"path236\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 10.489323,6.083807 z\" id=\"path238\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 h -0.419573 -0.419573 -0.419573 l -0.384608,-0.03496 -0.419573,-0.03496 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.104893 -0.384608,-0.139858 -0.384609,-0.104893 -0.349644,-0.139858 -0.384608,-0.174822 -0.349644,-0.174822 -0.349645,-0.174822 -0.349644,-0.174822 -0.349644,-0.209786 -0.349644,-0.209787 -0.31468,-0.244751 -0.314679,-0.244751 -0.31468,-0.24475 -0.31468,-0.279716 -0.279715,-0.279715 -0.279715,-0.244751 -0.279715,-0.31468 -0.244751,-0.314679 -0.244751,-0.31468 -0.244751,-0.31468 -0.244751,-0.349644 -0.209786,-0.314679 -0.209787,-0.384609 -0.174822,-0.349644 -0.139858,0.244751 -0.174822,0.279715 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.279716 -0.174823,0.24475 -0.139857,0.244751 -0.139858,0.279716 -0.139857,0.24475 -0.174823,0.279716 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.279715 0.139858,-0.244751 0.174822,-0.279716 0.139858,-0.24475 0.139857,-0.279716 0.174822,-0.244751 0.139858,-0.279715 z\" id=\"path240\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 2.447509,-4.195729\" id=\"path242\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 10.559252,-6.083807 z\" id=\"path244\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -0.209786,0.384608 -0.209787,0.349644 -0.209786,0.349644 -0.209787,0.31468 -0.24475,0.349644 -0.244751,0.31468 -0.279716,0.279715 -0.24475,0.31468 -0.31468,0.279715 -0.279715,0.279715 -0.279716,0.279716 -0.314679,0.244751 -0.31468,0.24475 -0.31468,0.209787 -0.349644,0.209786 -0.31468,0.209787 -0.349644,0.209786 -0.384608,0.174822 -0.349644,0.174822 -0.349644,0.139858 -0.384609,0.139858 -0.384608,0.139857 -0.384609,0.104894 -0.384608,0.104893 -0.384609,0.104893 -0.384608,0.06993 -0.384609,0.06993 -0.419573,0.03496 h -0.419573 l -0.384608,0.03496 h -0.384609 l -0.419573,-0.03496 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 0.139858,0.244751 0.139857,0.279716 0.174823,0.279715 0.139857,0.244751 0.139858,0.279715 0.139857,0.244751 0.174823,0.244751 0.139857,0.279715 0.139858,0.244751 0.139857,0.279715 0.174822,0.279715 0.139858,0.244751 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139857,-0.279715 -0.139858,-0.244751 -0.174822,-0.279716 -0.139858,-0.24475 -0.139857,-0.279716 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139858,-0.279715 -0.139857,-0.244751 -0.174822,-0.279715 -0.139858,-0.244751 z\" id=\"path246\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -2.447509,-4.195729\" id=\"path248\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 61.433523,64.20012 V 76.297806 H 66.32854 V 64.20012 Z\" id=\"path250\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 61.433523,64.20012 0.209786,0.349644 0.209787,0.349644 0.209786,0.384609 0.174822,0.349644 0.139858,0.349644 0.174822,0.384608 0.139858,0.384609 0.104893,0.384608 0.104893,0.384609 0.104893,0.384608 0.06993,0.384609 0.06993,0.384609 0.06993,0.384608 v 0.419573 l 0.03496,0.384608 v 0.384609 0.419573 l -0.03496,0.384608 v 0.384609 l -0.06993,0.384608 -0.06993,0.419573 -0.06993,0.384609 -0.104893,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.139858,0.349644 -0.174822,0.384609 -0.139858,0.384608 -0.174822,0.349645 -0.209786,0.349644 -0.209787,0.349644 -0.209786,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 0.314679 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 z\" id=\"path252\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 61.433523,64.20012 v 12.097686 h 4.895017 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -4.895017\" id=\"path254\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -10.489323,-6.083807 z\" id=\"path256\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 h 0.419573 0.419573 0.419573 l 0.384608,0.03496 0.419573,0.03496 0.384609,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.104893 0.384608,0.139858 0.384609,0.104893 0.349644,0.139858 0.384608,0.174822 0.349645,0.174822 0.349644,0.174822 0.349644,0.174822 0.349644,0.209787 0.349644,0.209786 0.31468,0.244751 0.314679,0.244751 0.31468,0.244751 0.31468,0.279715 0.279715,0.279715 0.279715,0.244751 0.279716,0.31468 0.24475,0.314679 0.244751,0.31468 0.244751,0.31468 0.244751,0.349644 0.209787,0.31468 0.209786,0.384608 0.174822,0.349644 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279715 0.139858,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.244751 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279716 0.139858,-0.244751 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -0.139858,0.279715 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139857,0.279715 -0.174822,0.244751 -0.139858,0.279716 -0.139858,0.24475 -0.174822,0.279716 -0.139857,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139858,0.279715 z\" id=\"path258\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -2.447509,4.195729\" id=\"path260\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 52.482634,88.115776 62.971957,82.031969 60.594377,77.83624 50.035125,83.920047 Z\" id=\"path262\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 52.482634,88.115776 0.209786,-0.384608 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.31468 0.244751,-0.349644 0.244751,-0.31468 0.279715,-0.279715 0.244751,-0.31468 0.314679,-0.279715 0.279716,-0.279715 0.279715,-0.279716 0.31468,-0.24475 0.314679,-0.244751 0.31468,-0.209787 0.349644,-0.209786 0.349644,-0.209787 0.31468,-0.209786 0.384608,-0.174822 0.349644,-0.174822 0.349645,-0.139858 0.384608,-0.139857 0.384609,-0.139858 0.384608,-0.104893 0.384609,-0.104894 0.384608,-0.104893 0.384609,-0.06993 0.384608,-0.06993 0.419573,-0.03496 h 0.419573 l 0.384608,-0.03496 h 0.384609 l 0.419573,0.03496 L 62.832099,81.752256 62.692242,81.507505 62.51742,81.22779 62.377562,80.983039 62.237704,80.738288 62.097847,80.458573 61.923025,80.178857 61.783167,79.934107 61.643309,79.654391 61.503452,79.40964 61.32863,79.16489 61.188772,78.885174 61.048914,78.640423 60.909057,78.360708 60.734235,78.080993 60.594377,77.836242 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 0.174822,0.244751 0.139858,0.279715 0.174822,0.244751 0.139858,0.279716 0.139857,0.24475 0.174822,0.279716 0.139858,0.244751 0.139858,0.279715 0.174822,0.244751 0.139857,0.279715 0.174822,0.244751 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 z\" id=\"path264\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 52.482634,88.115776 10.489323,-6.083807 -2.37758,-4.195729 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 2.447509,4.195729\" id=\"path266\" />\n      <circle style=\"fill:#666666;stroke:#4c4c4c;stroke-width:0.0699288\" cx=\"63.881031\" cy=\"78.745316\" r=\"4.2656579\" id=\"circle268\" />\n      <circle style=\"fill:#e5e5e5;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"3.6362987\" id=\"circle270\" />\n      <circle style=\"fill:#7f7f7f;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"1.18879\" id=\"circle272\" />\n    </g>\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 48.601584,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path274\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 51.50363,95.318445 h 2.167794 v 0.664324 H 51.50363 Z\" id=\"path276\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 56.608434,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path278\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 79.160479,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path280\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 76.258433,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path282\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 71.153629,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path284\" />\n    <g id=\"g1041\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,13.161235)\">\n      <g id=\"g956\">\n      </g>\n      <g id=\"g962\">\n      </g>\n      <g id=\"g978\" />\n      <g id=\"g980\" />\n      <g id=\"g982\" />\n      <g id=\"g984\" />\n      <g id=\"g986\" />\n      <g id=\"g988\" />\n      <g id=\"g990\" />\n      <g id=\"g992\" />\n      <g id=\"g994\" />\n      <g id=\"g996\" />\n      <g id=\"g998\" />\n      <g id=\"g1000\" />\n      <g id=\"g1002\" />\n      <g id=\"g1004\" />\n      <g id=\"g1006\" />\n    </g>\n    <g id=\"g1041-3\" transform=\"matrix(0.07036648,0,0,0.07036648,47.855062,13.165176)\">\n      <g id=\"g956-6\">\n      </g>\n      <g id=\"g962-3\">\n      </g>\n      <g id=\"g978-5\" />\n      <g id=\"g980-5\" />\n      <g id=\"g982-1\" />\n      <g id=\"g984-9\" />\n      <g id=\"g986-1\" />\n      <g id=\"g988-5\" />\n      <g id=\"g990-3\" />\n      <g id=\"g992-4\" />\n      <g id=\"g994-0\" />\n      <g id=\"g996-8\" />\n      <g id=\"g998-2\" />\n      <g id=\"g1000-4\" />\n      <g id=\"g1002-1\" />\n      <g id=\"g1004-2\" />\n      <g id=\"g1006-5\" />\n    </g>\n    <g id=\"g186\">\n      <g id=\"g956-6-9\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n      <g id=\"g962-3-1\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n    </g>\n    <g id=\"g978-5-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g980-5-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g982-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g984-9-8\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g986-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g988-5-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g990-3-0\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g992-4-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g994-0-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g996-8-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g998-2-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1000-4-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1002-1-9\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1004-2-2\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1006-5-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\" id=\"text4137-7-6\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-9-7\" style=\"stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\">Fan</tspan>\n    </text>\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "rotate_fan",
                "targetId": "fan",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,64,79",
                "toValue": "360,64,79",
                "trigger": "msg",
                "duration": "1",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 2460,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "703b007174dbd0aa",
        "type": "ui_statetrail",
        "z": "cac84992406068aa",
        "d": true,
        "group": "bd07f3319b50939c",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "",
        "states": [
            {
                "state": true,
                "col": "#009933",
                "t": "bool",
                "label": "ON"
            },
            {
                "state": false,
                "col": "#999999",
                "t": "bool",
                "label": "OFF"
            }
        ],
        "periodLimit": "30",
        "periodLimitUnit": "60",
        "timeformat": "HH:mm:ss",
        "tickmarks": 4,
        "exactticks": false,
        "persist": false,
        "legend": 1,
        "combine": true,
        "blanklabel": "",
        "x": 2220,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "a402da74618da505",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "control/manual/humidificador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 580,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f76aa7599122e991",
        "type": "ui_switch",
        "z": "cac84992406068aa",
        "name": "On/Off Humidificador",
        "label": "Humidificador",
        "tooltip": "",
        "group": "622fc1b4a218cacf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 1520,
        "wires": [
            [
                "a402da74618da505",
                "275252528bbf8e41",
                "5d86d6d6b8340889"
            ]
        ]
    },
    {
        "id": "11867a6f62060889",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control manual Coolers",
        "info": "",
        "x": 880,
        "y": 1440,
        "wires": []
    },
    {
        "id": "74795663e638240d",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control manual Humidificador",
        "info": "",
        "x": 900,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0dd03d7f17686df5",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Interfaz estado de Coolers",
        "info": "",
        "x": 2210,
        "y": 880,
        "wires": []
    },
    {
        "id": "1025afce207edfa2",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "d": true,
        "name": "",
        "topic": "control/automatico/coolers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "97d893f1becb9787",
        "type": "function",
        "z": "cac84992406068aa",
        "d": true,
        "name": "Check humedad alta",
        "func": "let humedad = parseFloat(msg.payload);\nif (humedad > 95) {\n    return {payload: 'on'};\n} else {\n    return {payload: 'off'};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 740,
        "wires": [
            [
                "1025afce207edfa2"
            ]
        ]
    },
    {
        "id": "ace5c149b3b2f51e",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control automático Coolers",
        "info": "",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "bb964a85f6600aec",
        "type": "function",
        "z": "cac84992406068aa",
        "d": true,
        "name": "Check humedad baja",
        "func": "let humedad = parseFloat(msg.payload);\nif (humedad < 85) {\n    return {payload: 'on'};\n} else {\n    return {payload: 'off'};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 820,
        "wires": [
            [
                "2ee2b0e4b8b30c83",
                "13349f35507afa2a"
            ]
        ]
    },
    {
        "id": "2ee2b0e4b8b30c83",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "d": true,
        "name": "",
        "topic": "control/automatico/humidificador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 890,
        "y": 820,
        "wires": []
    },
    {
        "id": "22a8f9402de11bc0",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control automático Humidificador",
        "info": "",
        "x": 1190,
        "y": 820,
        "wires": []
    },
    {
        "id": "9c168bbce2c38f8a",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "control/automatico/coolers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "8b094357b02eb906",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Check temperatura alta",
        "func": "let temperatura = parseFloat(msg.payload);\nif (temperatura > 24) {\n    return {payload: 'on'};\n} else {\n    return {payload: 'off'};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "9c168bbce2c38f8a"
            ]
        ]
    },
    {
        "id": "23e9d82fce153d61",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control automático Coolers",
        "info": "",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "bfe22683f4df352e",
        "type": "function",
        "z": "cac84992406068aa",
        "name": "Check temperatura baja",
        "func": "let temperatura = parseFloat(msg.payload);\nif (temperatura < 20) {\n    return {payload: 'on'};\n} else {\n    return {payload: 'off'};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 500,
        "wires": [
            [
                "8ddc84ec14cd6041"
            ]
        ]
    },
    {
        "id": "8ddc84ec14cd6041",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "control/automatico/peltier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "fb96f09e654143b9",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control automático Peltier",
        "info": "",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "ee0b4f6003c67c2a",
        "type": "ui_switch",
        "z": "cac84992406068aa",
        "name": "On/Off Peltier",
        "label": "Peltier",
        "tooltip": "",
        "group": "17c5cfc16a435fc8",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1700,
        "wires": [
            [
                "e0fed11392984e43"
            ]
        ]
    },
    {
        "id": "e0fed11392984e43",
        "type": "mqtt out",
        "z": "cac84992406068aa",
        "name": "",
        "topic": "control/manual/peltier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 560,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7107d93d60788538",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Control manual Peltier",
        "info": "",
        "x": 880,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7f1ecb7a7c0bf45a",
        "type": "comment",
        "z": "cac84992406068aa",
        "name": "Bienvenido a MARTECH",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2999e4b5f7d2de7",
        "type": "ui_text",
        "z": "cac84992406068aa",
        "group": "ac80019afe876347",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bienvenido a MARTECH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "275252528bbf8e41",
        "type": "ui_statetrail",
        "z": "cac84992406068aa",
        "group": "622fc1b4a218cacf",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "",
        "states": [
            {
                "state": "on",
                "col": "#003b99",
                "t": "str",
                "label": "ON"
            },
            {
                "state": "off",
                "col": "#999999",
                "t": "str",
                "label": "OFF"
            }
        ],
        "periodLimit": "30",
        "periodLimitUnit": "60",
        "timeformat": "HH:mm:ss",
        "tickmarks": 4,
        "exactticks": false,
        "persist": false,
        "legend": 1,
        "combine": true,
        "blanklabel": "Cargando datos...",
        "x": 520,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "5d86d6d6b8340889",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humidificadorManual",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "13349f35507afa2a",
        "type": "change",
        "z": "cac84992406068aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humidificadorAuto",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 880,
        "wires": [
            []
        ]
    }
]