MARTECH/MARTECHV2_Feria/flowsMARTECHV2_Feria_024311082024.json
[
    {
        "id": "0e633b73984218bd",
        "type": "tab",
        "label": "MARTECHV2_Feria",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89047f51a3552cdb",
        "type": "mqtt in",
        "z": "0e633b73984218bd",
        "name": "",
        "topic": "tempaire/sensordht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "faec336b8444f1d9",
                "b3cbaaa6f392f733",
                "0e22565850da9bf3",
                "30aec7c8fd4c3937"
            ]
        ]
    },
    {
        "id": "b3cbaaa6f392f733",
        "type": "change",
        "z": "0e633b73984218bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempAire",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf3d16a718cfd4fe",
        "type": "mqtt in",
        "z": "0e633b73984218bd",
        "name": "",
        "topic": "humidity/sensordht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "201769987eda063c",
                "88dd22bf88d9a9f4",
                "a6f5071e73099f56",
                "66b52ad9e868e404"
            ]
        ]
    },
    {
        "id": "88dd22bf88d9a9f4",
        "type": "change",
        "z": "0e633b73984218bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humedAire",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "30aec7c8fd4c3937",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Check TemperaturaAire",
        "func": "let tempAire = parseFloat(msg.payload);\nif (tempAire < 21) {\n    msg.payload = {\n        chatId: -4234464685,\n        type: \"message\",\n        content: `¡Alerta! La temperatura del aire es baja: ${tempAire}`\n    };\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "cf40d48480c605be"
            ],
            []
        ]
    },
    {
        "id": "66b52ad9e868e404",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Check Humedad Aire",
        "func": "let humedAire = parseFloat(msg.payload);\nif (humedAire < 21) {\n    msg.payload = {\n        chatId: -4234464685,\n        type: \"message\",\n        content: `¡Alerta! La humedad del aire es baja: ${humedAire}` + `%`\n    };\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "09b923e84b31dcfe"
            ],
            []
        ]
    },
    {
        "id": "cf40d48480c605be",
        "type": "rbe",
        "z": "0e633b73984218bd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "76c42905b093d57d"
            ]
        ]
    },
    {
        "id": "09b923e84b31dcfe",
        "type": "rbe",
        "z": "0e633b73984218bd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 560,
        "wires": [
            [
                "cc2155abeadc52bf"
            ]
        ]
    },
    {
        "id": "260d779460d526a6",
        "type": "mqtt out",
        "z": "0e633b73984218bd",
        "d": true,
        "name": "",
        "topic": "control/manual/humidificador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 560,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e0f1246690877dba",
        "type": "mqtt in",
        "z": "0e633b73984218bd",
        "name": "",
        "topic": "light/sensorldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 760,
        "wires": [
            [
                "9ad7755ee041b0d4",
                "d14fae4a12d911f3",
                "a1178713676cc0c9",
                "13a089ba4e7745ec"
            ]
        ]
    },
    {
        "id": "9ad7755ee041b0d4",
        "type": "change",
        "z": "0e633b73984218bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "luminosidad",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2df6afa3afcc325f",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Suscribir al ESP8266 | Sensores",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "8160b6a2c42826c4",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Publicar al ESP8266 | Actuadores | Control Manuall",
        "info": "",
        "x": 270,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a65e66c1e42d21dd",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Send info",
        "func": "let tempAire = global.get('tempAire') || \"No disponible\";\nlet humedAire = global.get('humedAire') || \"No disponible\";\nlet lumin = global.get('luminosidad') || \"No disponible\";\nmsg.payload = {\n    chatId: -4234464685,\n    type: \"message\",\n    content:`Temperatura del aire es: ${tempAire}` + `°C\\n` + \n            `Humedad del aire es: ${humedAire}` + `%\\n` + \n            `Luminosidad es: ${lumin}`\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "3dc6c35d4e3dc59c"
            ]
        ]
    },
    {
        "id": "a1178713676cc0c9",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Check Luminosidad",
        "func": "let lumin = parseFloat(msg.payload);\nif (lumin > 500) {\n    msg.payload = {\n        chatId: -4234464685,\n        type: \"message\",\n        content: `¡Alerta! La luminosidad es alta: ${lumin}` + `%`\n    };\n    return [msg, null];\n} else {\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 820,
        "wires": [
            [
                "a3182363217203a8"
            ],
            []
        ]
    },
    {
        "id": "a3182363217203a8",
        "type": "rbe",
        "z": "0e633b73984218bd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 820,
        "wires": [
            [
                "b2b4bff322ee81c8"
            ]
        ]
    },
    {
        "id": "cbed8fab72368891",
        "type": "telegram receiver",
        "z": "0e633b73984218bd",
        "name": "Telegram Receiver",
        "bot": "426ccebbe959ebd3",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 270,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "50004cd5ade73dd4",
        "type": "telegram command",
        "z": "0e633b73984218bd",
        "name": "/infoEstado",
        "command": "/info",
        "description": "",
        "registercommand": false,
        "language": "",
        "bot": "426ccebbe959ebd3",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "a65e66c1e42d21dd"
            ]
        ]
    },
    {
        "id": "76c42905b093d57d",
        "type": "telegram sender",
        "z": "0e633b73984218bd",
        "name": "Notificación Baja Temperatura Aire",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1020,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cc2155abeadc52bf",
        "type": "telegram sender",
        "z": "0e633b73984218bd",
        "name": "Notificación Baja Humedad Aire",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc6c35d4e3dc59c",
        "type": "telegram sender",
        "z": "0e633b73984218bd",
        "name": "send info",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 860,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b4bff322ee81c8",
        "type": "telegram sender",
        "z": "0e633b73984218bd",
        "name": "Notificación Alta Luminosidad",
        "bot": "426ccebbe959ebd3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1020,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "aae6c693b161efc6",
        "type": "ui_switch",
        "z": "0e633b73984218bd",
        "d": true,
        "name": "FOn/Off Humificador",
        "label": "Humidificador",
        "tooltip": "",
        "group": "0762921786a532d0",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 1460,
        "wires": [
            [
                "260d779460d526a6"
            ]
        ]
    },
    {
        "id": "0e22565850da9bf3",
        "type": "ui_gauge",
        "z": "0e633b73984218bd",
        "name": "FMedidor TempAire",
        "group": "92a9cd27.99b9d",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#b32400",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "0",
        "seg2": "21",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "201769987eda063c",
        "type": "ui_gauge",
        "z": "0e633b73984218bd",
        "name": "FMedidor HumedAire",
        "group": "00fd71d20afe50e3",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#db1600",
            "#e6de00",
            "#2ed600"
        ],
        "seg1": "21",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "d14fae4a12d911f3",
        "type": "ui_gauge",
        "z": "0e633b73984218bd",
        "name": "FMedidor Luminosidad",
        "group": "fee8bcf8a2efb14c",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "Luminosidad",
        "format": "{{value}}",
        "min": "0",
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "250",
        "seg2": "750",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "faec336b8444f1d9",
        "type": "ui_chart",
        "z": "0e633b73984218bd",
        "name": "FChart TempAire",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Cargando datos...",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a6f5071e73099f56",
        "type": "ui_chart",
        "z": "0e633b73984218bd",
        "name": "FChart HumedAire",
        "group": "00fd71d20afe50e3",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Cargando datos...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7ae25de46d95ae81",
        "type": "ui_switch",
        "z": "0e633b73984218bd",
        "name": "FOn/Off Coolers",
        "label": "Coolers",
        "tooltip": "",
        "group": "0762921786a532d0",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 1380,
        "wires": [
            [
                "20327898e52864f9",
                "fe1c723ff9469080"
            ]
        ]
    },
    {
        "id": "20327898e52864f9",
        "type": "mqtt out",
        "z": "0e633b73984218bd",
        "name": "",
        "topic": "control/manual/coolers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 540,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c8d447f4f7e8d8c1",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Temperatura de Aire (DHT11)",
        "info": "",
        "x": 200,
        "y": 140,
        "wires": []
    },
    {
        "id": "e06e57535fcba9db",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Humedad del Aire (DHT11)",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "3676c1aa6695fe77",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Nivel de Luz (LDR)",
        "info": "",
        "x": 170,
        "y": 660,
        "wires": []
    },
    {
        "id": "4ffc7466cfc781f9",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Enviar a Telegram info de sensores",
        "info": "",
        "x": 220,
        "y": 920,
        "wires": []
    },
    {
        "id": "mqtt_out_node",
        "type": "mqtt out",
        "z": "0e633b73984218bd",
        "name": "",
        "topic": "control/automatico/coolers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "94e4e5c9c37de674",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Publicar al ESP8266 | Actuadores | Control Automático",
        "info": "",
        "x": 280,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5c9d6a9f20feb61d",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Comprobar humedad",
        "func": "var humedad = global.get('humedAire');\nif (humedad > 37) {\n    return {payload: 'on'};\n} else {\n    return {payload: 'off'};\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1200,
        "wires": [
            [
                "mqtt_out_node",
                "fe1c723ff9469080"
            ]
        ]
    },
    {
        "id": "fb913e61be80a206",
        "type": "inject",
        "z": "0e633b73984218bd",
        "name": "Leer humedAire",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "5c9d6a9f20feb61d"
            ]
        ]
    },
    {
        "id": "6d433b2820fe33bb",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Trigger Fan animate OFF",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"stop\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1400,
        "wires": [
            [
                "f31a7a41f40888d5"
            ]
        ]
    },
    {
        "id": "8d8e4ec44d28bb4e",
        "type": "function",
        "z": "0e633b73984218bd",
        "name": "Trigger Fan animate ON",
        "func": "\nmsg.payload =\n    {\n        \"command\": \"trigger_animation\",\n        \"selector\": \"#rotate_fan\",\n        \"action\": \"start\"\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1240,
        "wires": [
            [
                "f31a7a41f40888d5"
            ]
        ]
    },
    {
        "id": "f31a7a41f40888d5",
        "type": "ui_svg_graphics",
        "z": "0e633b73984218bd",
        "group": "0762921786a532d0",
        "order": 3,
        "width": "5",
        "height": "4",
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" viewBox=\"42.70819854736328 52.25726318359375 40.49138641357422 45.51356887817383\" version=\"1.1\" id=\"svg5\" sodipodi:docname=\"Home_Automation.svg\" inkscape:version=\"1.1.1 (3bf5ae0d25, 2021-09-20)\" preserveAspectRatio=\"xMinYMin meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"148\" height=\"105\" style=\"fill:none;stroke:none\" />\n  <sodipodi:namedview id=\"namedview7\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\" inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:document-units=\"mm\" showgrid=\"false\" inkscape:zoom=\"1.4110391\" inkscape:cx=\"380.92495\" inkscape:cy=\"207.29404\" inkscape:window-width=\"1366\" inkscape:window-height=\"745\" inkscape:window-x=\"-8\" inkscape:window-y=\"-8\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"layer1\" />\n  <defs id=\"defs2\" />\n  <g inkscape:label=\"Layer 1\" inkscape:groupmode=\"layer\" id=\"layer1\">\n    <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 Z\" id=\"path218\" />\n    <path style=\"fill:#c7c7c7;stroke-width:0.0349644\" d=\"M 46.433791,86.087841 81.363237,71.472717 V 96.22752 H 46.433791 Z\" id=\"path220\" />\n    <path style=\"fill:#c2c2c2;stroke-width:0.0349644\" d=\"M 46.433791,87.556346 81.363237,72.941223 V 96.22752 H 46.433791 Z\" id=\"path222\" />\n    <path style=\"fill:#bdbdbd;stroke-width:0.0349644\" d=\"M 46.433791,89.724139 81.363237,75.109016 V 96.22752 H 46.433791 Z\" id=\"path224\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 46.433791,61.298074 H 81.363237 V 96.22752 H 46.433791 V 61.298074\" id=\"path226\" />\n    <path style=\"display:inline;fill:#7f7f7f;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 70.034768,93.640153 -4.055872,1.118861 H 61.783167 L 57.727295,93.640153 54.090997,91.542289 51.084058,88.605278 48.951229,84.899051 47.867332,80.843179 V 76.64745 l 1.118861,-4.1258 2.097865,-3.636299 2.93701,-2.93701 3.706227,-2.132829 4.055872,-1.083897 h 4.195729 l 4.125801,1.083897 3.636298,2.132829 2.937011,2.93701 2.132829,3.636299 1.083896,4.1258 v 4.195729 l -1.083896,4.055872 -2.132829,3.706227 -2.937011,2.937011 z\" id=\"path228\" />\n    <path style=\"display:inline;fill:#191919;stroke-width:0.0349644\" d=\"m 69.755052,93.010794 -3.846085,1.013968 h -4.055871 l -3.846085,-1.013968 -3.496441,-2.027936 -2.867082,-2.867082 -2.027936,-3.496441 -1.013968,-3.846085 0.03496,-4.055871 0.979003,-3.916014 2.027936,-3.426512 2.867082,-2.867082 3.496441,-2.027936 3.846085,-1.013968 h 4.055871 l 3.846085,1.013968 3.496441,2.027936 2.867082,2.867082 2.027936,3.496441 1.013968,3.846085 v 4.055871 l -1.013968,3.846085 -2.027936,3.496441 -2.867082,2.867082 z\" id=\"path230\" />\n    <g id=\"fan\">\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 v 12.097686 z\" id=\"path232\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 66.32854,93.290509 -0.209786,-0.349644 -0.209787,-0.349644 -0.209786,-0.384609 -0.174822,-0.349644 -0.174822,-0.349644 -0.139858,-0.384608 -0.139857,-0.384609 -0.139858,-0.384608 -0.104893,-0.384609 -0.06993,-0.384608 -0.104893,-0.384609 -0.03496,-0.384608 -0.06993,-0.384609 -0.03496,-0.419573 v -0.384608 l -0.03496,-0.384609 0.03496,-0.419573 v -0.384608 l 0.03496,-0.384609 0.06993,-0.384608 0.03496,-0.419573 0.104893,-0.384609 0.06993,-0.384608 0.104893,-0.384609 0.139858,-0.384608 0.139857,-0.349644 0.139858,-0.384609 0.174822,-0.384608 0.174822,-0.349644 0.209786,-0.349645 0.209787,-0.349644 0.209786,-0.349644 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 -0.31468 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 z\" id=\"path234\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"M 66.32854,93.290509 V 81.192823 h -4.895017 l -0.209787,0.349644 -0.209786,0.349644 -0.209786,0.349645 -0.139858,0.349644 -0.174822,0.384608 -0.139858,0.384609 -0.139857,0.349644 -0.104894,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.06993,0.384609 -0.06993,0.419573 -0.03496,0.384608 -0.03496,0.384609 -0.03496,0.384608 v 0.419573 0.384609 l 0.03496,0.384608 0.03496,0.419573 0.03496,0.384609 0.06993,0.384608 0.06993,0.384609 0.104893,0.384608 0.104893,0.384609 0.104894,0.384608 0.139857,0.384609 0.139858,0.384608 0.174822,0.349644 0.139858,0.349644 0.209786,0.384609 0.209786,0.349644 0.209787,0.349644 h 4.895017\" id=\"path236\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 10.489323,6.083807 z\" id=\"path238\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 77.726938,83.920047 h -0.419573 -0.419573 -0.419573 l -0.384608,-0.03496 -0.419573,-0.03496 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.104893 -0.384608,-0.139858 -0.384609,-0.104893 -0.349644,-0.139858 -0.384608,-0.174822 -0.349644,-0.174822 -0.349645,-0.174822 -0.349644,-0.174822 -0.349644,-0.209786 -0.349644,-0.209787 -0.31468,-0.244751 -0.314679,-0.244751 -0.31468,-0.24475 -0.31468,-0.279716 -0.279715,-0.279715 -0.279715,-0.244751 -0.279715,-0.31468 -0.244751,-0.314679 -0.244751,-0.31468 -0.244751,-0.31468 -0.244751,-0.349644 -0.209786,-0.314679 -0.209787,-0.384609 -0.174822,-0.349644 -0.139858,0.244751 -0.174822,0.279715 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.279716 -0.174823,0.24475 -0.139857,0.244751 -0.139858,0.279716 -0.139857,0.24475 -0.174823,0.279716 -0.139857,0.279715 -0.139858,0.244751 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.279715 0.139858,-0.244751 0.174822,-0.279716 0.139858,-0.24475 0.139857,-0.279716 0.174822,-0.244751 0.139858,-0.279715 z\" id=\"path240\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 77.726938,83.920047 -10.559252,-6.083807 -2.37758,4.195729 0.174822,0.349644 0.209787,0.384609 0.209786,0.349644 0.209787,0.31468 0.244751,0.314679 0.24475,0.349644 0.279716,0.279716 0.244751,0.314679 0.279715,0.279716 0.279715,0.279715 0.31468,0.279715 0.31468,0.244751 0.314679,0.244751 0.31468,0.209786 0.349644,0.244751 0.349644,0.174822 0.31468,0.209787 0.384608,0.174822 0.349644,0.174822 0.384609,0.139857 0.349644,0.139858 0.384609,0.139858 0.384608,0.104893 0.384609,0.104893 0.384608,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.03496 0.419573,0.03496 h 0.384608 0.419573 0.419573 l 2.447509,-4.195729\" id=\"path242\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 10.559252,-6.083807 z\" id=\"path244\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 75.279429,69.374853 -0.209786,0.384608 -0.209787,0.349644 -0.209786,0.349644 -0.209787,0.31468 -0.24475,0.349644 -0.244751,0.31468 -0.279716,0.279715 -0.24475,0.31468 -0.31468,0.279715 -0.279715,0.279715 -0.279716,0.279716 -0.314679,0.244751 -0.31468,0.24475 -0.31468,0.209787 -0.349644,0.209786 -0.31468,0.209787 -0.349644,0.209786 -0.384608,0.174822 -0.349644,0.174822 -0.349644,0.139858 -0.384609,0.139858 -0.384608,0.139857 -0.384609,0.104894 -0.384608,0.104893 -0.384609,0.104893 -0.384608,0.06993 -0.384609,0.06993 -0.419573,0.03496 h -0.419573 l -0.384608,0.03496 h -0.384609 l -0.419573,-0.03496 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 0.139858,0.244751 0.139857,0.279716 0.174823,0.279715 0.139857,0.244751 0.139858,0.279715 0.139857,0.244751 0.174823,0.244751 0.139857,0.279715 0.139858,0.244751 0.139857,0.279715 0.174822,0.279715 0.139858,0.244751 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139857,-0.279715 -0.139858,-0.244751 -0.174822,-0.279716 -0.139858,-0.24475 -0.139857,-0.279716 -0.174822,-0.244751 -0.139858,-0.279715 -0.174822,-0.244751 -0.139858,-0.279715 -0.139857,-0.244751 -0.174822,-0.279715 -0.139858,-0.244751 z\" id=\"path246\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 75.279429,69.374853 -10.489323,6.083807 2.37758,4.195729 h 0.384609 0.419573 0.419572 0.384609 l 0.419573,-0.06993 0.419573,-0.06993 0.384608,-0.06993 0.384609,-0.06993 0.384608,-0.104893 0.419573,-0.104893 0.349644,-0.139858 0.384609,-0.139858 0.349644,-0.174822 0.384609,-0.139857 0.349644,-0.209787 0.349644,-0.174822 0.349644,-0.209786 0.314679,-0.209787 0.31468,-0.244751 0.349644,-0.244751 0.31468,-0.24475 0.279715,-0.279716 0.279716,-0.244751 0.314679,-0.279715 0.244751,-0.31468 0.279715,-0.314679 0.244751,-0.31468 0.244751,-0.31468 0.209787,-0.349644 0.209786,-0.314679 0.209786,-0.349645 0.209787,-0.384608 -2.447509,-4.195729\" id=\"path248\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 61.433523,64.20012 V 76.297806 H 66.32854 V 64.20012 Z\" id=\"path250\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 61.433523,64.20012 0.209786,0.349644 0.209787,0.349644 0.209786,0.384609 0.174822,0.349644 0.139858,0.349644 0.174822,0.384608 0.139858,0.384609 0.104893,0.384608 0.104893,0.384609 0.104893,0.384608 0.06993,0.384609 0.06993,0.384609 0.06993,0.384608 v 0.419573 l 0.03496,0.384608 v 0.384609 0.419573 l -0.03496,0.384608 v 0.384609 l -0.06993,0.384608 -0.06993,0.419573 -0.06993,0.384609 -0.104893,0.384608 -0.104893,0.384609 -0.104893,0.384608 -0.139858,0.349644 -0.174822,0.384609 -0.139858,0.384608 -0.174822,0.349645 -0.209786,0.349644 -0.209787,0.349644 -0.209786,0.349644 h 0.31468 0.279715 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.31468 0.279715 0.31468 0.31468 0.314679 0.279716 0.314679 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -0.314679 -0.279716 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.31468 -0.279715 -0.31468 -0.314679 -0.31468 -0.279715 z\" id=\"path252\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 61.433523,64.20012 v 12.097686 h 4.895017 l 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.349644 0.139857,-0.349645 0.174822,-0.384608 0.139858,-0.384609 0.139858,-0.349644 0.104893,-0.384608 0.104893,-0.384609 0.104893,-0.384608 0.06993,-0.384609 0.06993,-0.419573 0.03496,-0.384608 0.03496,-0.384609 0.03496,-0.384608 v -0.419573 -0.384609 l -0.03496,-0.384608 -0.03496,-0.419573 -0.03496,-0.384608 -0.06993,-0.384609 -0.06993,-0.384609 L 67.762081,67.521739 67.657188,67.13713 67.552295,66.752522 67.412437,66.367913 67.272579,65.983305 67.097757,65.633661 66.9579,65.284017 66.748113,64.899408 66.538327,64.549764 66.32854,64.20012 h -4.895017\" id=\"path254\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -10.489323,-6.083807 z\" id=\"path256\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 50.035125,73.570582 h 0.419573 0.419573 0.419573 l 0.384608,0.03496 0.419573,0.03496 0.384609,0.06993 0.419573,0.06993 0.384608,0.06993 0.384609,0.104893 0.384608,0.139858 0.384609,0.104893 0.349644,0.139858 0.384608,0.174822 0.349645,0.174822 0.349644,0.174822 0.349644,0.174822 0.349644,0.209787 0.349644,0.209786 0.31468,0.244751 0.314679,0.244751 0.31468,0.244751 0.31468,0.279715 0.279715,0.279715 0.279715,0.244751 0.279716,0.31468 0.24475,0.314679 0.244751,0.31468 0.244751,0.31468 0.244751,0.349644 0.209787,0.31468 0.209786,0.384608 0.174822,0.349644 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279715 0.139858,-0.244751 0.139858,-0.279715 0.174822,-0.244751 0.139857,-0.244751 0.139858,-0.279715 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.279716 0.139858,-0.244751 0.139858,-0.244751 0.174822,-0.279715 0.139857,-0.244751 0.139858,-0.279715 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -0.139858,0.279715 -0.139857,0.244751 -0.174822,0.279715 -0.139858,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139857,0.279715 -0.174822,0.244751 -0.139858,0.279716 -0.139858,0.24475 -0.174822,0.279716 -0.139857,0.244751 -0.139858,0.279715 -0.174822,0.244751 -0.139858,0.279715 z\" id=\"path258\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 50.035125,73.570582 10.559252,6.083807 2.37758,-4.195729 -0.174822,-0.349644 -0.209787,-0.384609 -0.209786,-0.349644 -0.209787,-0.314679 -0.24475,-0.31468 -0.244751,-0.349644 -0.279716,-0.279715 -0.24475,-0.31468 -0.279716,-0.279715 -0.279715,-0.279716 -0.31468,-0.279715 -0.314679,-0.244751 -0.31468,-0.244751 -0.31468,-0.209786 -0.349644,-0.244751 -0.349644,-0.174822 -0.31468,-0.209787 -0.384608,-0.174822 -0.349644,-0.174822 -0.384609,-0.139857 -0.349644,-0.139858 -0.384608,-0.139858 -0.384609,-0.104893 -0.384608,-0.104893 -0.384609,-0.06993 -0.419573,-0.06993 -0.384608,-0.06993 -0.384609,-0.03496 -0.419573,-0.03496 H 53.32178 52.902207 52.482634 l -2.447509,4.195729\" id=\"path260\" />\n      <path style=\"fill:#b2b2b2;stroke-width:0.0349644\" d=\"M 52.482634,88.115776 62.971957,82.031969 60.594377,77.83624 50.035125,83.920047 Z\" id=\"path262\" />\n      <path style=\"fill:#cccccc;stroke-width:0.0349644\" d=\"m 52.482634,88.115776 0.209786,-0.384608 0.209787,-0.349644 0.209786,-0.349644 0.209787,-0.31468 0.244751,-0.349644 0.244751,-0.31468 0.279715,-0.279715 0.244751,-0.31468 0.314679,-0.279715 0.279716,-0.279715 0.279715,-0.279716 0.31468,-0.24475 0.314679,-0.244751 0.31468,-0.209787 0.349644,-0.209786 0.349644,-0.209787 0.31468,-0.209786 0.384608,-0.174822 0.349644,-0.174822 0.349645,-0.139858 0.384608,-0.139857 0.384609,-0.139858 0.384608,-0.104893 0.384609,-0.104894 0.384608,-0.104893 0.384609,-0.06993 0.384608,-0.06993 0.419573,-0.03496 h 0.419573 l 0.384608,-0.03496 h 0.384609 l 0.419573,0.03496 L 62.832099,81.752256 62.692242,81.507505 62.51742,81.22779 62.377562,80.983039 62.237704,80.738288 62.097847,80.458573 61.923025,80.178857 61.783167,79.934107 61.643309,79.654391 61.503452,79.40964 61.32863,79.16489 61.188772,78.885174 61.048914,78.640423 60.909057,78.360708 60.734235,78.080993 60.594377,77.836242 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 0.174822,0.244751 0.139858,0.279715 0.174822,0.244751 0.139858,0.279716 0.139857,0.24475 0.174822,0.279716 0.139858,0.244751 0.139858,0.279715 0.174822,0.244751 0.139857,0.279715 0.174822,0.244751 0.139858,0.279715 0.139858,0.244751 0.174822,0.279715 0.139857,0.244751 z\" id=\"path264\" />\n      <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.0699288\" d=\"m 52.482634,88.115776 10.489323,-6.083807 -2.37758,-4.195729 h -0.384608 -0.419573 -0.419573 -0.384609 l -0.419573,0.06993 -0.419573,0.06993 -0.384608,0.06993 -0.384609,0.06993 -0.384608,0.104893 -0.419573,0.104894 -0.349644,0.139857 -0.384609,0.139858 -0.349644,0.174822 -0.384608,0.139858 -0.349644,0.209786 -0.349645,0.174822 -0.349644,0.209787 -0.314679,0.209786 -0.31468,0.244751 -0.349644,0.244751 -0.31468,0.244751 -0.279715,0.279715 -0.279715,0.244751 -0.31468,0.279715 -0.244751,0.31468 -0.279715,0.314679 -0.244751,0.31468 -0.244751,0.31468 -0.209786,0.349644 -0.209787,0.31468 -0.209786,0.349644 -0.209787,0.384608 2.447509,4.195729\" id=\"path266\" />\n      <circle style=\"fill:#666666;stroke:#4c4c4c;stroke-width:0.0699288\" cx=\"63.881031\" cy=\"78.745316\" r=\"4.2656579\" id=\"circle268\" />\n      <circle style=\"fill:#e5e5e5;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"3.6362987\" id=\"circle270\" />\n      <circle style=\"fill:#7f7f7f;stroke-width:0.0349644\" cx=\"63.881031\" cy=\"78.745316\" r=\"1.18879\" id=\"circle272\" />\n    </g>\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 48.601584,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path274\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 51.50363,95.318445 h 2.167794 v 0.664324 H 51.50363 Z\" id=\"path276\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 56.608434,95.318445 h 2.167794 v 0.664324 h -2.167794 z\" id=\"path278\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 79.160479,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path280\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 76.258433,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path282\" />\n    <path style=\"fill:#000000;stroke-width:0.0349644\" d=\"m 71.153629,95.982769 h -2.167794 v -0.664324 h 2.167794 z\" id=\"path284\" />\n    <g id=\"g1041\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,13.161235)\">\n      <g id=\"g956\">\n      </g>\n      <g id=\"g962\">\n      </g>\n      <g id=\"g978\" />\n      <g id=\"g980\" />\n      <g id=\"g982\" />\n      <g id=\"g984\" />\n      <g id=\"g986\" />\n      <g id=\"g988\" />\n      <g id=\"g990\" />\n      <g id=\"g992\" />\n      <g id=\"g994\" />\n      <g id=\"g996\" />\n      <g id=\"g998\" />\n      <g id=\"g1000\" />\n      <g id=\"g1002\" />\n      <g id=\"g1004\" />\n      <g id=\"g1006\" />\n    </g>\n    <g id=\"g1041-3\" transform=\"matrix(0.07036648,0,0,0.07036648,47.855062,13.165176)\">\n      <g id=\"g956-6\">\n      </g>\n      <g id=\"g962-3\">\n      </g>\n      <g id=\"g978-5\" />\n      <g id=\"g980-5\" />\n      <g id=\"g982-1\" />\n      <g id=\"g984-9\" />\n      <g id=\"g986-1\" />\n      <g id=\"g988-5\" />\n      <g id=\"g990-3\" />\n      <g id=\"g992-4\" />\n      <g id=\"g994-0\" />\n      <g id=\"g996-8\" />\n      <g id=\"g998-2\" />\n      <g id=\"g1000-4\" />\n      <g id=\"g1002-1\" />\n      <g id=\"g1004-2\" />\n      <g id=\"g1006-5\" />\n    </g>\n    <g id=\"g186\">\n      <g id=\"g956-6-9\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n      <g id=\"g962-3-1\" transform=\"matrix(0.07036648,0,0,0.07036648,87.453534,13.23702)\">\n      </g>\n    </g>\n    <g id=\"g978-5-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g980-5-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g982-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g984-9-8\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g986-1-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g988-5-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g990-3-0\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g992-4-5\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g994-0-6\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g996-8-4\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g998-2-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1000-4-3\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1002-1-9\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1004-2-2\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <g id=\"g1006-5-1\" transform=\"matrix(0.07036648,0,0,0.07036648,7.1352561,60.786265)\" />\n    <text xml:space=\"preserve\" style=\"font-style:normal;font-weight:normal;font-size:5.9493px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\" id=\"text4137-7-6\">\n      <tspan sodipodi:role=\"line\" id=\"tspan4135-9-7\" style=\"stroke-width:0.148733\" x=\"58.261517\" y=\"57.862202\">Fan</tspan>\n    </text>\n  </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "rotate_fan",
                "targetId": "fan",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,64,79",
                "toValue": "360,64,79",
                "trigger": "msg",
                "duration": "1",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": true,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 1840,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "02bb369676ec67e0",
        "type": "change",
        "z": "0e633b73984218bd",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 1280,
        "wires": [
            [
                "8d8e4ec44d28bb4e",
                "5d0f5c3214d25c07"
            ]
        ]
    },
    {
        "id": "ec22dfbbbf3721e0",
        "type": "change",
        "z": "0e633b73984218bd",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 1360,
        "wires": [
            [
                "6d433b2820fe33bb",
                "5d0f5c3214d25c07"
            ]
        ]
    },
    {
        "id": "fe1c723ff9469080",
        "type": "switch",
        "z": "0e633b73984218bd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 1320,
        "wires": [
            [
                "02bb369676ec67e0"
            ],
            [
                "ec22dfbbbf3721e0"
            ]
        ]
    },
    {
        "id": "5d0f5c3214d25c07",
        "type": "ui_statetrail",
        "z": "0e633b73984218bd",
        "group": "0762921786a532d0",
        "order": 2,
        "width": "17",
        "height": "5",
        "name": "",
        "label": "Fan State",
        "states": [
            {
                "state": true,
                "col": "#009933",
                "t": "bool",
                "label": "ON"
            },
            {
                "state": false,
                "col": "#999999",
                "t": "bool",
                "label": "OFF"
            }
        ],
        "periodLimit": "30",
        "periodLimitUnit": "60",
        "timeformat": "HH:mm:ss",
        "tickmarks": 4,
        "exactticks": false,
        "persist": false,
        "legend": 1,
        "combine": true,
        "blanklabel": "",
        "x": 1580,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "13a089ba4e7745ec",
        "type": "ui_chart",
        "z": "0e633b73984218bd",
        "name": "FChartLuminosidad",
        "group": "fee8bcf8a2efb14c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "FChart Luminosidad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "fe79874a9161fad4",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Marcadores de temperatura aire",
        "info": "",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "c2e087959b1e9b7b",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Notificación temperatura aire baja",
        "info": "",
        "x": 1310,
        "y": 300,
        "wires": []
    },
    {
        "id": "ff854ca36884abe1",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Marcadores de humedad aire",
        "info": "",
        "x": 1300,
        "y": 480,
        "wires": []
    },
    {
        "id": "bb58c9570cc96c99",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Notificación humedad aire baja",
        "info": "",
        "x": 1310,
        "y": 560,
        "wires": []
    },
    {
        "id": "03cf74dcd83d7752",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Marcadores de luminosidad",
        "info": "",
        "x": 1300,
        "y": 740,
        "wires": []
    },
    {
        "id": "14600df817011612",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Notificación de luminosidad alta",
        "info": "",
        "x": 1310,
        "y": 820,
        "wires": []
    },
    {
        "id": "998c6c157f350cbe",
        "type": "comment",
        "z": "0e633b73984218bd",
        "name": "Acceso a parámetros con: /info",
        "info": "",
        "x": 1310,
        "y": 1000,
        "wires": []
    },
    {
        "id": "42c41c16fc3b1396",
        "type": "ui_spacer",
        "z": "0e633b73984218bd",
        "name": "spacer",
        "group": "fee8bcf8a2efb14c",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "9be59122e4a3dad0",
        "type": "ui_spacer",
        "z": "0e633b73984218bd",
        "name": "spacer",
        "group": "fee8bcf8a2efb14c",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "426ccebbe959ebd3",
        "type": "telegram bot",
        "botname": "iotBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "0762921786a532d0",
        "type": "ui_group",
        "name": "FActuadores",
        "tab": "5567f01c0e4108b1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "FSensor | Temperatura Aire",
        "tab": "5567f01c0e4108b1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00fd71d20afe50e3",
        "type": "ui_group",
        "name": "FSensor | Humedad Aire",
        "tab": "5567f01c0e4108b1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fee8bcf8a2efb14c",
        "type": "ui_group",
        "name": "FSensor | Luminosidad",
        "tab": "5567f01c0e4108b1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5567f01c0e4108b1",
        "type": "ui_tab",
        "name": "MARTECHV2_Feria",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]