nodemcuServoMQTTNodeRed/flowESP8266_MQTT_SERVO_020227062024.json
[
    {
        "id": "a9ec95ee9b59a65f",
        "type": "tab",
        "label": "Control Servo",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8e579d8.f47136",
        "type": "mqtt out",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "topic": "servo",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 554.9999389648438,
        "y": 104.66683959960938,
        "wires": []
    },
    {
        "id": "e8175ce9.713d8",
        "type": "ui_button",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "group": "1e5c02d5.fe327d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Min  0%",
        "color": "black",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 181.99996948242188,
        "y": 106.3333740234375,
        "wires": [
            [
                "d8737d22.02711"
            ]
        ]
    },
    {
        "id": "41c8bdd8.6b8794",
        "type": "ui_slider",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "label": "Servo",
        "group": "1e5c02d5.fe327d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 178.99996948242188,
        "y": 254.33334350585938,
        "wires": [
            [
                "d8737d22.02711"
            ]
        ]
    },
    {
        "id": "af9e757e.03aff8",
        "type": "ui_gauge",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "group": "1e5c02d5.fe327d",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Servo position ",
        "label": "position ",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 562.9999389648438,
        "y": 174.33334350585938,
        "wires": []
    },
    {
        "id": "caeb961a.6fccf8",
        "type": "ui_button",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "group": "1e5c02d5.fe327d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Max 100%",
        "color": "black",
        "icon": "",
        "payload": "100",
        "payloadType": "num",
        "topic": "",
        "x": 183.99996948242188,
        "y": 195.00003051757812,
        "wires": [
            [
                "d8737d22.02711"
            ]
        ]
    },
    {
        "id": "d8737d22.02711",
        "type": "function",
        "z": "a9ec95ee9b59a65f",
        "name": "node",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "8e579d8.f47136",
                "af9e757e.03aff8",
                "b94768f4.e32a08"
            ]
        ]
    },
    {
        "id": "b94768f4.e32a08",
        "type": "link out",
        "z": "a9ec95ee9b59a65f",
        "name": "slider",
        "links": [
            "bfd0cb97.8e44f8"
        ],
        "x": 525.9999389648438,
        "y": 255.99996948242188,
        "wires": []
    },
    {
        "id": "bfd0cb97.8e44f8",
        "type": "link in",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "links": [
            "b94768f4.e32a08"
        ],
        "x": 81.69227409362793,
        "y": 316.4102897644043,
        "wires": [
            [
                "41c8bdd8.6b8794"
            ]
        ]
    },
    {
        "id": "930443ff.66064",
        "type": "ui_button",
        "z": "a9ec95ee9b59a65f",
        "name": "",
        "group": "1e5c02d5.fe327d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "50%",
        "color": "black",
        "icon": "",
        "payload": "50",
        "payloadType": "num",
        "topic": "",
        "x": 172.99996948242188,
        "y": 148.33334350585938,
        "wires": [
            [
                "d8737d22.02711"
            ]
        ]
    },
    {
        "id": "7e25c2d5.f0476c",
        "type": "comment",
        "z": "a9ec95ee9b59a65f",
        "name": "ESP8266 MQTT Control Servo",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1e5c02d5.fe327d",
        "type": "ui_group",
        "name": "Servo Control",
        "tab": "e0a394f8.695aa8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e0a394f8.695aa8",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "order": 2
    }
]