nodemcuLedMQTTNodeRed/flowESP8266_MQTT_ONOFFLED_020227062024.json
[
    {
        "id": "a228d8bf0ce603c8",
        "type": "tab",
        "label": "On/Off Led",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "faa477fc.52b4c8",
        "type": "mqtt in",
        "z": "a228d8bf0ce603c8",
        "name": "",
        "topic": "event",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "ac0f88b3.643d78"
            ]
        ]
    },
    {
        "id": "3fee8245.a6584e",
        "type": "mqtt out",
        "z": "a228d8bf0ce603c8",
        "name": "",
        "topic": "event",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7472c28e84850c59",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "153c5784.2cd988",
        "type": "ui_button",
        "z": "a228d8bf0ce603c8",
        "name": "",
        "group": "e711f8ea.a9a1d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On led",
        "tooltip": "",
        "color": "white",
        "bgcolor": "",
        "className": "",
        "icon": "fa-circle",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3fee8245.a6584e",
                "c117abc16bc924f4"
            ]
        ]
    },
    {
        "id": "b79dca8e.5fdb88",
        "type": "ui_button",
        "z": "a228d8bf0ce603c8",
        "name": "",
        "group": "e711f8ea.a9a1d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off led",
        "tooltip": "",
        "color": "black",
        "bgcolor": "",
        "className": "",
        "icon": "fa-circle-o",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 147,
        "y": 280,
        "wires": [
            [
                "3fee8245.a6584e",
                "c117abc16bc924f4"
            ]
        ]
    },
    {
        "id": "ac0f88b3.643d78",
        "type": "ui_text",
        "z": "a228d8bf0ce603c8",
        "group": "e711f8ea.a9a1d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "out",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 353,
        "y": 120,
        "wires": []
    },
    {
        "id": "c117abc16bc924f4",
        "type": "debug",
        "z": "a228d8bf0ce603c8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "606616f9811e5848",
        "type": "comment",
        "z": "a228d8bf0ce603c8",
        "name": "ESP8266 MQTT Control LED",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e711f8ea.a9a1d8",
        "type": "ui_group",
        "name": "Control led ESP8266",
        "tab": "9f8fbb0c.03d908",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9f8fbb0c.03d908",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]