ESP8266RELEMQTT/NodeREDflowESP8266_MQTT_ONOFFRELE.json
[
    {
        "id": "76e8d1a1215b0213",
        "type": "tab",
        "label": "Control de Relé",
        "disabled": false,
        "info": "Flujo para enviar comandos a un ESP8266 para encender/apagar un relé vía MQTT."
    },
    {
        "id": "e028b1b11b51456a",
        "type": "ui_switch",
        "z": "76e8d1a1215b0213",
        "name": "Botón de Relé",
        "label": "Encender / Apagar Relé",
        "tooltip": "",
        "group": "e14b149b1ff30b6e",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "control/rele",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-power-off",
        "oncolor": "red",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-power-off",
        "offcolor": "gray",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e2b9f30335e23654",
                "0f89d381552a9263"
            ]
        ]
    },
    {
        "id": "e2b9f30335e23654",
        "type": "mqtt out",
        "z": "76e8d1a1215b0213",
        "name": "Publicar en control/rele",
        "topic": "control/rele",
        "qos": "0",
        "retain": "false",
        "respQos": "",
        "respRetain": "",
        "respTopic": "",
        "respInterval": "",
        "respQoS": "0",
        "broker": "7472c28e84850c59",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "0f89d381552a9263",
        "type": "debug",
        "z": "76e8d1a1215b0213",
        "name": "Payload de depuración",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e14b149b1ff30b6e",
        "type": "ui_group",
        "name": "Control de Dispositivos",
        "tab": "e0735e081ffc8f47",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0735e081ffc8f47",
        "type": "ui_tab",
        "name": "INICIO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false,
        "info": "Pestaña de inicio del sistema MARTECH"
    }
]
