ESP8266LDRMQTT/NodeREDflowESP8266_MQTT_LDR.json
[
    {
        "id": "9c31d1b02d5d3f71",
        "type": "tab",
        "label": "LDR (Mejorado)",
        "disabled": false,
        "info": "Flujo mejorado para visualizar el sensor LDR del ESP8266. Incluye medidor, gráfico y valor en texto."
    },
    {
        "id": "aedf38773ab5d512",
        "type": "mqtt in",
        "z": "9c31d1b02d5d3f71",
        "name": "MQTT Entrada LDR",
        "topic": "luz/sensorldr",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7472c28e84850c59",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e4800e136122f9bb"
            ]
        ]
    },
    {
        "id": "e4800e136122f9bb",
        "type": "function",
        "z": "9c31d1b02d5d3f71",
        "name": "Convertir a número",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "2713f19f466e9f05",
                "7c1ea83568c2f5d3",
                "fd9ba43c94d75cd2"
            ]
        ]
    },
    {
        "id": "2713f19f466e9f05",
        "type": "ui_gauge",
        "z": "9c31d1b02d5d3f71",
        "name": "Medidor de Luz",
        "group": "865b06cef1631f84",
        "order": 0,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Cantidad de Luz",
        "label": "valor",
        "format": "{{value}}",
        "min": "0",
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "800",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c1ea83568c2f5d3",
        "type": "debug",
        "z": "9c31d1b02d5d3f71",
        "name": "Payload de depuración",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd9ba43c94d75cd2",
        "type": "ui_text",
        "z": "9c31d1b02d5d3f71",
        "group": "865b06cef1631f84",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Valor en Texto",
        "label": "Valor Actual:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "7472c28e84850c59",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.13",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "865b06cef1631f84",
        "type": "ui_group",
        "name": "CantidadDeLuz",
        "tab": "e0735e081ffc8f47",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0735e081ffc8f47",
        "type": "ui_tab",
        "name": "INICIO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false,
        "info": "Pestaña de inicio del sistema MARTECH"
    }
]